.learn-more-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .learn-more-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .learn-more-subheading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .learn-more-list {
    margin-bottom: 20px;
  }
  
  .learn-more-list li {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .learn-more-list li:before {
    content: '\2022'; /* Code unicode pour un point */
    margin-right: 10px;
  }
  
  .learn-more-list ol li {
    list-style-type: decimal;
    margin-left: 20px;
  }
  